In [1]:
import pandas as pd
import numpy as np

In [2]:
columns_names = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']
misclassification = pd.DataFrame(columns=columns_names)

## Cleveland

In [12]:
cnn_fl = [9, 22, 28, 46, 62, 63, 73, 74, 77, 81, 86]
cnn = [0, 7, 9, 10, 19, 21, 22, 28, 30, 32, 38, 52, 53, 60, 61, 67, 69, 70, 77]
common_numbers = list(set(cnn_fl) & set(cnn))
print(common_numbers)

[9, 28, 77, 22]

In [13]:
cleveland = '../RawData/processed.cleveland.data'

df_cleveland = pd.read_csv(cleveland, header=None)

df_cleveland.columns = columns_names
print(df_cleveland)

      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0    63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1    67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2    67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3    37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4    41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
298  45.0  1.0  1.0     110.0  264.0  0.0      0.0    132.0    0.0      1.2
299  68.0  1.0  4.0     144.0  193.0  1.0      0.0    141.0    0.0      3.4
300  57.0  1.0  4.0     130.0  131.0  0.0      0.0    115.0    1.0      1.2
301  57.0  0.0  2.0     130.0  236.0  0.0      2.0    174.0    0.0      0.0
302  38.0  1.0  3.0     138.0  175.0  0.0      0.0    173.0    0.0      0.0

     slope   ca thal  num
0      3.0  0.0  6.0    0
1      2.0  3.0  3.0    2
2      2.0  2.0  7.0    1
3      3.0  0.0  3.0    0
4      1.0  0.0  3.0    0
..     ...  ...  ...  ...
298    2.0  0.0  7.0    1
299    2.0  2.0  7.0    2
300    2.0  1.0  7.0    3
301    2.0  1.0  3.0    1
302    1.0    ?  3.0    0

[303 rows x 14 columns]

In [14]:
for i in common_numbers:
    misclassification = misclassification.append(df_cleveland.iloc[i], ignore_index=True)

C:\Users\votri\AppData\Local\Temp\ipykernel_2360\4044950508.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  misclassification = misclassification.append(df_cleveland.iloc[i], ignore_index=True)
C:\Users\votri\AppData\Local\Temp\ipykernel_2360\4044950508.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  misclassification = misclassification.append(df_cleveland.iloc[i], ignore_index=True)
C:\Users\votri\AppData\Local\Temp\ipykernel_2360\4044950508.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  misclassification = misclassification.append(df_cleveland.iloc[i], ignore_index=True)
C:\Users\votri\AppData\Local\Temp\ipykernel_2360\4044950508.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  misclassification = misclassification.append(df_cleveland.iloc[i], ignore_index=True)

## Long Beach, VA

In [15]:
cnn_fl = [9, 22, 28, 46, 62, 63, 73, 74, 77, 81, 86]
cnn = [3, 6, 14, 22, 28, 32, 34, 42, 48, 49, 56, 57, 58]
common_numbers = list(set(cnn_fl) & set(cnn))
print(common_numbers)

[28, 22]

In [16]:
va = '../RawData/processed.va.data'

df_va = pd.read_csv(va, header=None)

df_va.columns = columns_names

In [17]:
for i in common_numbers:
    misclassification = misclassification.append(df_va.iloc[i], ignore_index=True)

C:\Users\votri\AppData\Local\Temp\ipykernel_2360\2124865232.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  misclassification = misclassification.append(df_va.iloc[i], ignore_index=True)
C:\Users\votri\AppData\Local\Temp\ipykernel_2360\2124865232.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  misclassification = misclassification.append(df_va.iloc[i], ignore_index=True)

## Hungary

In [18]:
cnn_fl = [9, 22, 28, 46, 62, 63, 73, 74, 77, 81, 86]
cnn = [1, 8, 12, 14, 23, 29, 42, 53, 54, 61, 64, 86]
common_numbers = list(set(cnn_fl) & set(cnn))
print(common_numbers)

[86]

In [19]:
hung = '../RawData/processed.hungarian.data'

df_hung = pd.read_csv(hung, header=None)

df_hung.columns = columns_names

In [20]:
for i in common_numbers:
    misclassification = misclassification.append(df_hung.iloc[i], ignore_index=True)

C:\Users\votri\AppData\Local\Temp\ipykernel_2360\4102614136.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  misclassification = misclassification.append(df_hung.iloc[i], ignore_index=True)

## Switzerland

In [21]:
cnn_fl = [9, 22, 28, 46, 62, 63, 73, 74, 77, 81, 86]
cnn = [20, 25]
common_numbers = list(set(cnn_fl) & set(cnn))
print(common_numbers)

[]

In [22]:
swi = '../RawData/processed.switzerland.data'

df_swi = pd.read_csv(swi, header=None)

df_swi.columns = columns_names

In [23]:
for i in common_numbers:
    misclassification = misclassification.append(df_swi.iloc[i], ignore_index=True)

In [24]:
print(misclassification)

     age  sex   cp trestbps   chol  fbs restecg thalach exang oldpeak slope  \
0   53.0  1.0  4.0    140.0  203.0  1.0     2.0   155.0   1.0     3.1   3.0
1   51.0  1.0  3.0    110.0  175.0  0.0     0.0   123.0   0.0     0.6   1.0
2   58.0  1.0  2.0    120.0  284.0  0.0     2.0   160.0   0.0     1.8   2.0
3   43.0  1.0  4.0    150.0  247.0  0.0     0.0   171.0   0.0     1.5   1.0
4   58.0  1.0  4.0    128.0  216.0  0.0     2.0   131.0   1.0     2.2   2.0
5   53.0  1.0  4.0    140.0  203.0  1.0     2.0   155.0   1.0     3.1   3.0
6   43.0  1.0  4.0    150.0  247.0  0.0     0.0   171.0   0.0     1.5   1.0
7   51.0  0.0  3.0    140.0  308.0  0.0     2.0   142.0   0.0     1.5   1.0
8   58.0  1.0  2.0    120.0  284.0  0.0     2.0   160.0   0.0     1.8   2.0
9     56    1    4      120    100    0       0     120     1     1.5     2
10    63    1    3      130      0    0       1     111     1       0     ?
11    47    0    3      130      ?    0       0     145     0     2.0     2

     ca thal num
0   0.0  7.0   1
1   0.0  3.0   0
2   0.0  3.0   1
3   0.0  3.0   0
4   3.0  7.0   1
5   0.0  7.0   1
6   0.0  3.0   0
7   1.0  3.0   0
8   0.0  3.0   1
9     0    7   1
10    ?    ?   3
11    ?    ?   0